<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="page-wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="wrapper style1">
                <div class="container">
                    <header class="major">
                        <h2>{{ .Title }}</h2>
                    </header>
                    <section id="content">
                        <div class="box alt">
                            <div class="row uniform">
                                {{ range .Data.Pages }}
                                <section class="4u 6u(medium) 12u$(xsmall)">
                                    {{ if isset .Params "image" }}
                                    <a href={{ .Permalink }} class="image fit"><img src={{ .Params.image | absURL }} alt="" /></a>
                                    {{ end }}
                                    <h3>{{ .Title }}</h3>
                                    <p>Published at {{ .PublishDate.Format "January 4, 2006" }}</p>
                                    <p>{{ .Summary }}</p>
                                    <footer>
                                        <ul class="actions">
                                            <li><a href={{ .Permalink }} class="button">Read Mode</a></li>
                                        </ul>
                                    </footer>
                                </section>
                                {{ end }}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
            {{ partial "footer.html" . }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
