{{ "<!-- Section4 -->" | safeHTML}}
<section id="four" class="wrapper style1 special fade-up">
    <div class="container">
        <header class="major">
            <h2>Accumsan sed tempus adipiscing blandit</h2>
            <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
        </header>
        <div class="box alt">
                <div class="row uniform">
                    {{ range (.Paginator 10).Pages }}
                        <section class="4u 6u(medium) 12u$(xsmall)">
                             {{ if isset .Params "image" }}
                            <a href={{ .Permalink }} class="image fit"><img src={{ .Params.image | absURL }} alt="" /></a>
                            {{ end }}
                            <h3>{{ .Title }}</h3>
                            <p>Published at {{ .PublishDate.Format "January 4, 2006" }}</p>
                            <p>{{ .Summary }}</p>
                            <footer>
                                <ul class="actions">
                                    <li><a href={{ .Permalink }} class="button">Read Mode</a></li>
                                </ul>
                            </footer>
                        </section>
                    {{ end }}
                </div>
            </div>
            <footer class="major">
            <ul class="actions">
                <li><a href="#" class="button">Magna sed feugiat</a></li>
            </ul>
        </footer>
    </div>
</section>
